{{#each items.data.hits}}
  <a class='gallery__link' href='{{webformatURL}}'>
    <div class='photo-card'>
      <img class='gallery__image' 
      src='{{previewURL}}' 
      alt='{{tags}}' 
      loading='lazy' 
      />
      <div class='info'>
        <p class='info-item'>
          <b>Likes: <br />{{likes}}</b>
        </p>
        <p class='info-item'>
          <b>Views: <br />{{views}}</b>
        </p>
        <p class='info-item'>
          <b>Comments: <br />{{comments}}</b>
        </p>
        <p class='info-item'>
          <b>Downloads: <br />{{downloads}}</b>
        </p>
      </div>
    </div>
  </a>
{{/each}}